@model CategoryViewModel

@{
    ViewData["Title"] = $"{@Model.Title} Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>
<h2>@Html.DisplayFor(model => model.Text)</h2>

<div>
    @await Component.InvokeAsync("MyGenericCarousel", new CarouselViewModel("BriefProducts", @Model.BriefProducts, 4))
</div>

<div>
    @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
